<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{> header}}
    <title>Principal</title>
</head>
<body>
    <section class="texto">
    <h1 class="playwrite-nz-basic-guides-regular">{{site.title}}</h1>
    <h1 class="playwrite-nz-basic-guides-regular">{{site.subtitle}}</h1>
    </section>
    
        <section class="orden">
            <ul>
                {{#each film}}
                <li>
                    <strong>{{first_name}}</strong><br/>
                </li>
                {{/each}}
            </ul>

        </section>
    
</body>
</html>